<h1>Ergebnisse</h1>

<div class="container">
    <div class="row">
        <table class="table table-striped">

            <tr>
                <th class="Time">Spiel</th>
                <th class="Court">Team 1</th>
                <th class="Round">Team 2</th>
                <th class="C1">Spiel Punkte</th>
                <th class="C2">Gruppen Punkte</th>
            </tr>

            {{range .}}
            <tr>
                <td class="Time"><a href="/inputResults/{{.PairingID}}">{{.PairingID}}</a></td>
                <td class="Court">{{.Comp1Name}}</td>
                <td class="Round">{{.Comp2Name}}</td>
                <td class="C1"> {{if .Done}} {{.Pairing1Pts}}:{{.Pairing2Pts}}{{end}}</td>
                <td class="C2"> {{if .Done}} {{.Group1Pts}}:{{.Group2Pts}}  {{end}}   </td>
            </tr>
            {{end}}
        </table>
    </div>
</div>

<div>&nbsp;</div>